# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow

| Data Science Tools | 
|----------|
| Jupyter Notebook |
| Apache Spark |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## **Objectives:**
* List popular languages for Data Science
* Create a code cell to convert minutes to hours
* Insert a markdown cell to list Objectives

## Author
xiangkeanlim